@keyframes rolling-on-the-river
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)

.stern-wheel-shadow
  animation-name rolling-on-the-river
  animation-duration 5s
  transform-origin 50% 50%
  position absolute
  float none
  animation-timing-function linear
  animation-iteration-count infinite