// Turn the stern wheel!
@keyframes rolling-on-the-river
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)

.stern-wheel-shadow
  animation-name rolling-on-the-river
  animation-duration 5s
  transform-origin 50% 50%
  position absolute
  float none
  animation-timing-function linear
  animation-iteration-count infinite

// Pop the bubbles!
@keyframes fade-in
  0%
    opacity 0
  100%
    opacity 50%

.bubbles circle
  animation-name fade-in
  animation-duration 2s
  animation-timing-function linear
  animation-iteration-count infinite
  &:nth-child(1)
    animation-delay 0s
  &:nth-child(2)
    animation-delay 0.5s
  &:nth-child(3)
    animation-delay 1s
  &:nth-child(4)
    animation-delay 1.5s

// Move the waves!
@keyframes roll-wave-left
  0%
    transform translateX(50px)
  100%
    transform translateX(-50px)

@keyframes roll-wave-right
  0%
    transform translateX(-50px)
  100%
    transform translateX(50px)

.wave
  animation-duration 2s
  animation-timing-function ease
  animation-iteration-count infinite

.wave:nth-child(odd)
  animation-name roll-wave-left
  animation-delay 0.5s

.wave:nth-child(even)
  animation-name roll-wave-right

// Darken the sky slightly
@keyframes darken-sky
  0%
    fill $sky-blue
  50%
    fill darken($sky-blue, 70%)
  100%
    fill $sky-blue

.sky
  animation-name darken-sky
  animation-duration 10s
  animation-timing-function ease-in-out
  animation-iteration-count infinite

// House lights
@keyframes house-lights
  0%
    fill $sky-blue
  50%
    fill $lightbulb-yellow
  100%
    fill $sky-blue

.window
  animation-name house-lights
  animation-duration 10s
  animation-timing-function linear
  animation-iteration-count infinite

@keyframes darken-peach-house
  0%
    fill $peach
  50%
    fill darken($peach, 20%)
  100%
    fill $peach

.peach.house
  animation-name darken-peach-house
  animation-duration 10s
  animation-timing-function linear
  animation-iteration-count infinite

@keyframes darken-lemon-house
  0%
    fill $lemon
  50%
    fill darken($lemon, 40%)
  100%
    fill $lemon

.lemon.house
  animation-name darken-lemon-house
  animation-duration 10s
  animation-timing-function linear
  animation-iteration-count infinite

@keyframes darken-orange-house
  0%
    fill $orange
  50%
    fill darken($orange, 20%)
  100%
    fill $orange

.orange.house
  animation-name darken-orange-house
  animation-duration 10s
  animation-timing-function linear
  animation-iteration-count infinite